clip_interrogator==0.6.0
compel==2.0.2
datasets==2.16.1
diffusers==0.25.0
einops==0.7.0
gensim==4.3.2
ipdb==0.13.13
ipython==8.12.3
numpy==1.24.3
opencv_python==4.9.0.80
pandas==2.1.4
Pillow==10.0.1
Pillow==10.2.0
Requests==2.31.0
scipy==1.11.4
spacy==3.7.2
timm==0.9.12
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.36.2
